<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.student.system.dao.CourseDao">

	<select id="get" resultType="com.student.system.domain.CourseDO">
		select `id`,`traceno`,`name`,`note`,`teacherno`,`teacher`,`startdate`,`enddate`,`standid`,`standtraceno`,`standtname`,`avgknowledgerlevel`,`avgexplanation`,`avghomeworklevel`,`avghomeworkgrad`,`avgcourequa`,`avgteachqua`,`avgcoursesatisfact`,`avgcourse`,`isdel`,`createtime`,`createuser`,`createname`,`updatetime`,`updateuser`,`updatename` from course where id = #{value}
	</select>
	<select id="getByTraceno" resultType="com.student.system.domain.CourseDO">
		select `id`,`traceno`,`name`,`note`,`teacherno`,`teacher`,`startdate`,`enddate`,`standid`,`standtraceno`,`standtname`,`avgknowledgerlevel`,`avgexplanation`,`avghomeworklevel`,`avghomeworkgrad`,`avgcourequa`,`avgteachqua`,`avgcoursesatisfact`,`avgcourse`,`isdel`,`createtime`,`createuser`,`createname`,`updatetime`,`updateuser`,`updatename` from course where traceno = #{value}
	</select>

	<select id="list" resultType="com.student.system.domain.CourseDO">
		select `id`,`traceno`,`name`,`note`,`teacherno`,`teacher`,`startdate`,`enddate`,`standid`,`standtraceno`,`standtname`,`avgknowledgerlevel`,`avgexplanation`,`avghomeworklevel`,`avghomeworkgrad`,`avgcourequa`,`avgteachqua`,`avgcoursesatisfact`,`avgcourse`,`isdel`,`createtime`,`createuser`,`createname`,`updatetime`,`updateuser`,`updatename` from course
        <where>
			<if test="searchName != null and searchName != ''">
				and (traceno LIKE CONCAT('%',#{searchName},'%') or name LIKE CONCAT('%',#{searchName},'%'))</if>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="traceno != null and traceno != ''"> and traceno = #{traceno} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="note != null and note != ''"> and note = #{note} </if>
		  		  <if test="teacherno != null and teacherno != ''"> and teacherno = #{teacherno} </if>
		  		  <if test="teacher != null and teacher != ''"> and teacher = #{teacher} </if>
		  		  <if test="startdate != null and startdate != ''"> and startdate = #{startdate} </if>
		  		  <if test="enddate != null and enddate != ''"> and enddate = #{enddate} </if>
		  		  <if test="standid != null and standid != ''"> and standid = #{standid} </if>
		  		  <if test="standtraceno != null and standtraceno != ''"> and standtraceno = #{standtraceno} </if>
		  		  <if test="standtname != null and standtname != ''"> and standtname = #{standtname} </if>
		  		  <if test="avgknowledgerlevel != null and avgknowledgerlevel != ''"> and avgknowledgerlevel = #{avgknowledgerlevel} </if>
		  		  <if test="avgexplanation != null and avgexplanation != ''"> and avgexplanation = #{avgexplanation} </if>
		  		  <if test="avghomeworklevel != null and avghomeworklevel != ''"> and avghomeworklevel = #{avghomeworklevel} </if>
		  		  <if test="avghomeworkgrad != null and avghomeworkgrad != ''"> and avghomeworkgrad = #{avghomeworkgrad} </if>
		  		  <if test="avgcourequa != null and avgcourequa != ''"> and avgcourequa = #{avgcourequa} </if>
		  		  <if test="avgteachqua != null and avgteachqua != ''"> and avgteachqua = #{avgteachqua} </if>
		  		  <if test="avgcoursesatisfact != null and avgcoursesatisfact != ''"> and avgcoursesatisfact = #{avgcoursesatisfact} </if>
		  		  <if test="avgcourse != null and avgcourse != ''"> and avgcourse = #{avgcourse} </if>
		  		  <if test="isdel != null and isdel != ''"> and isdel = #{isdel} </if>
		  		  <if test="createtime != null and createtime != ''"> and createtime = #{createtime} </if>
		  		  <if test="createuser != null and createuser != ''"> and createuser = #{createuser} </if>
		  		  <if test="createname != null and createname != ''"> and createname = #{createname} </if>
		  		  <if test="updatetime != null and updatetime != ''"> and updatetime = #{updatetime} </if>
		  		  <if test="updateuser != null and updateuser != ''"> and updateuser = #{updateuser} </if>
		  		  <if test="updatename != null and updatename != ''"> and updatename = #{updatename} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by createtime desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from course
		 <where>
			 <if test="searchName != null and searchName != ''">
				 and (traceno LIKE CONCAT('%',#{searchName},'%') or name LIKE CONCAT('%',#{searchName},'%'))</if>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="traceno != null and traceno != ''"> and traceno = #{traceno} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="note != null and note != ''"> and note = #{note} </if>
		  		  <if test="teacherno != null and teacherno != ''"> and teacherno = #{teacherno} </if>
		  		  <if test="teacher != null and teacher != ''"> and teacher = #{teacher} </if>
		  		  <if test="startdate != null and startdate != ''"> and startdate = #{startdate} </if>
		  		  <if test="enddate != null and enddate != ''"> and enddate = #{enddate} </if>
		  		  <if test="standid != null and standid != ''"> and standid = #{standid} </if>
		  		  <if test="standtraceno != null and standtraceno != ''"> and standtraceno = #{standtraceno} </if>
		  		  <if test="standtname != null and standtname != ''"> and standtname = #{standtname} </if>
		  		  <if test="avgknowledgerlevel != null and avgknowledgerlevel != ''"> and avgknowledgerlevel = #{avgknowledgerlevel} </if>
		  		  <if test="avgexplanation != null and avgexplanation != ''"> and avgexplanation = #{avgexplanation} </if>
		  		  <if test="avghomeworklevel != null and avghomeworklevel != ''"> and avghomeworklevel = #{avghomeworklevel} </if>
		  		  <if test="avghomeworkgrad != null and avghomeworkgrad != ''"> and avghomeworkgrad = #{avghomeworkgrad} </if>
		  		  <if test="avgcourequa != null and avgcourequa != ''"> and avgcourequa = #{avgcourequa} </if>
		  		  <if test="avgteachqua != null and avgteachqua != ''"> and avgteachqua = #{avgteachqua} </if>
		  		  <if test="avgcoursesatisfact != null and avgcoursesatisfact != ''"> and avgcoursesatisfact = #{avgcoursesatisfact} </if>
		  		  <if test="avgcourse != null and avgcourse != ''"> and avgcourse = #{avgcourse} </if>
		  		  <if test="isdel != null and isdel != ''"> and isdel = #{isdel} </if>
		  		  <if test="createtime != null and createtime != ''"> and createtime = #{createtime} </if>
		  		  <if test="createuser != null and createuser != ''"> and createuser = #{createuser} </if>
		  		  <if test="createname != null and createname != ''"> and createname = #{createname} </if>
		  		  <if test="updatetime != null and updatetime != ''"> and updatetime = #{updatetime} </if>
		  		  <if test="updateuser != null and updateuser != ''"> and updateuser = #{updateuser} </if>
		  		  <if test="updatename != null and updatename != ''"> and updatename = #{updatename} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.student.system.domain.CourseDO" useGeneratedKeys="true" keyProperty="id">
		insert into course
		(
			`traceno`, 
			`name`, 
			`note`, 
			`teacherno`, 
			`teacher`, 
			`startdate`, 
			`enddate`, 
			`standid`, 
			`standtraceno`, 
			`standtname`, 
			`avgknowledgerlevel`, 
			`avgexplanation`, 
			`avghomeworklevel`, 
			`avghomeworkgrad`, 
			`avgcourequa`, 
			`avgteachqua`, 
			`avgcoursesatisfact`, 
			`avgcourse`, 
			`isdel`, 
			`createtime`, 
			`createuser`, 
			`createname`, 
			`updatetime`, 
			`updateuser`, 
			`updatename`
		)
		values
		(
			#{traceno}, 
			#{name}, 
			#{note}, 
			#{teacherno}, 
			#{teacher}, 
			#{startdate}, 
			#{enddate}, 
			#{standid}, 
			#{standtraceno}, 
			#{standtname}, 
			#{avgknowledgerlevel}, 
			#{avgexplanation}, 
			#{avghomeworklevel}, 
			#{avghomeworkgrad}, 
			#{avgcourequa}, 
			#{avgteachqua}, 
			#{avgcoursesatisfact}, 
			#{avgcourse}, 
			#{isdel}, 
			#{createtime}, 
			#{createuser}, 
			#{createname}, 
			#{updatetime}, 
			#{updateuser}, 
			#{updatename}
		)
	</insert>
	 
	<update id="update" parameterType="com.student.system.domain.CourseDO">
		update course 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="note != null">`note` = #{note}, </if>
			<if test="startdate != null">`startdate` = #{startdate}, </if>
			<if test="enddate != null">`enddate` = #{enddate}, </if>
			<if test="updatetime != null">`updatetime` = #{updatetime}, </if>
			<if test="updateuser != null">`updateuser` = #{updateuser}, </if>
			<if test="updatename != null">`updatename` = #{updatename}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from course where id = #{value}
	</delete>

	<delete id="removeByTraceno">
		delete from course where traceno = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from course where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>